<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- Log para o console -->
		<target name="logconsole" xsi:type="Console" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<!-- Log para arquivo -->
		<target name="logfile" xsi:type="File" fileName="logs/logfile.txt" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

		<!-- Log para o SQL Server -->
		<target name="logdatabase" xsi:type="Database"
				dbProvider="sqlserver"
				connectionString="Data Source=MATHEUS-DESKTOP;Initial Catalog=Grafana;User ID=sistema;Password=123456;Encrypt=False"
				commandText="INSERT INTO Logs (Date, Level, Logger, Message) VALUES (@time_stamp, @level, @logger, @message)">
			<parameter name="@time_stamp" layout="${longdate}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
		</target>
	</targets>

	<rules>
		<!-- Regra para logar todos os níveis no console -->
		<logger name="*" minlevel="Debug" writeTo="logconsole" />

		<!-- Regra para logar informações e acima no arquivo -->
		<logger name="*" minlevel="Info" writeTo="logfile" />

		<!-- Regra para logar informações e acima no SQL Server -->
		<logger name="*" minlevel="Info" writeTo="logdatabase" />
	</rules>
</nlog>
